Options -Indexes 

#Redirect permanent / http://www.zionusbsm.com/intro/

RewriteEngine on
RewriteCond %{HTTP_HOST} ^zionusbsm\.com$ [NC]
RewriteRule ^(.*)$ http://www.zionusbsm.com/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /index.php/$1 [L]

